{% extends "layout.html" %}

{% block section %}
        <div class="sidebar btn-group-vertical">
            <a href="#trending"><button type="button" class="btn btn-outline-dark">Trending</button></a>
            <a href="#competition"><button type="button" class="btn btn-outline-dark">Competition</button></a>
            <a href="#info"><button type="button" class="btn btn-outline-dark">Info</button></a>
        </div>

        
        <div class="container">
            <div class="trending" id="trending">
                <h3>Trending of This Month</h3>
                <div class="cards">
                    <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending1.png') }}" class="card-img-top" alt="trending1">
                        <div class="card-body">
                            <h4>New Game Released! <br>Sky : Children of Light</h4>
                            <p class="card-text">New great game published by The Sky Game, already launched in 2019. This is a good game with excellent graphic.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending2.png') }}" class="card-img-top" alt="trending2">
                        <div class="card-body">
                            <h4>Sagittarius People Will Get More Money This Month</h4>
                            <p class="card-text">Are you sagittarian? If yes, then this month will become 'gold' month for you! Start your new business now.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px">
                        <img src="{{ url_for('static',filename='img/trending3.png') }}" class="card-img-top" alt="trending3">
                        <div class="card-body">
                            <h4>Relation, The Most Important Thing to Start a New Business</h4>
                            <p class="card-text">If you want to start a new business or start up, innovation maybe become very important to you. But, the most important thing isn't the innovation but relation!</p>
                        </div>
                      </div>
                </div>
            </div>
            
            <div class="competition" id="competition">
                <h3>Excellent Competition</h3>
                <div class="cards">
                    <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending3.png') }}" class="card-img-top" alt="competition1">
                        <div class="card-body">
                            <h4>New Game Released! <br>Sky : Children of Light</h4>
                            <p class="card-text">New great game published by The Sky Game, already launched in 2019. This is a good game with excellent graphic.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending2.png') }}" class="card-img-top" alt="competition2">
                        <div class="card-body">
                            <h4>Sagittarius People Will Get More Money This Month</h4>
                            <p class="card-text">Are you sagittarian? If yes, then this month will become 'gold' month for you! Start your new business now.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px">
                        <img src="{{ url_for('static',filename='img/trending1.png') }}" class="card-img-top" alt="competition3">
                        <div class="card-body">
                            <h4>Relation, The Most Important Thing to Start a New Business</h4>
                            <p class="card-text">If you want to start a new business or start up, innovation maybe become very important to you. But, the most important thing isn't the innovation but relation!</p>
                        </div>
                      </div>
                </div>
            </div>
            
            <div class="info" id="info">
                <h3>New Information</h3>
                <div class="cards">
                    <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending2.png') }}" class="card-img-top" alt="competition1">
                        <div class="card-body">
                            <h4>New Game Released! <br>Sky : Children of Light</h4>
                            <p class="card-text">New great game published by The Sky Game, already launched in 2019. This is a good game with excellent graphic.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px;">
                        <img src="{{ url_for('static',filename='img/trending1.png') }}" class="card-img-top" alt="competition2">
                        <div class="card-body">
                            <h4>Sagittarius People Will Get More Money This Month</h4>
                            <p class="card-text">Are you sagittarian? If yes, then this month will become 'gold' month for you! Start your new business now.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 300px">
                        <img src="{{ url_for('static',filename='img/trending3.png') }}" class="card-img-top" alt="competition3">
                        <div class="card-body">
                            <h4>Relation, The Most Important Thing to Start a New Business</h4>
                            <p class="card-text">If you want to start a new business or start up, innovation maybe become very important to you. But, the most important thing isn't the innovation but relation!</p>
                        </div>
                      </div>
                </div>
            </div>
            
        </div>
{% endblock %}


