{% extends "layout.html" %}

{% block section %}
<div class="row login-register">
    <div class="col-lg-6 inner-login-register">
        <div class="top">
            <h4>Email exist</h4>
            <br>
            <p>
                Email has already exist<br>
                Do you mean is <a href="{{url_for('login')}}">sign in</a>?
                <br>
                or
                <br>
                <a href="{{url_for('register')}}">register with new email
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}