{% extends "layout.html" %}

{% block section %}
<div class="row login-register">
    <div class="col-lg-6 inner-login-register">
        <h5>FORGOT PASSWORD</h5>
        <form action="{{ url_for('register') }}" method="POST" id="register"> 
            <div class="form-group row">
                <label for="forgotEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="forgotEmail">
                </div>
            </div>            
            <button type="submit" class="btn btn-primary" id="submit-register">Submit</button>
        </form>
    </div>
</div>
{% endblock %}