{% extends "layout.html" %}

{% block section %}
<div class="row login-register">
    <div class="col-lg-6 inner-login-register">
        <div class="top">
            <h4>Sign up successful</h4>
            <br>
            <p>
                Your verification link has been sent.<br>
                Please check your email to verify your account<br>
                <br>
                didn't get verification?<br>
                <a href="{{url_for('send_verification', m='register')}}">resend verification</a>?
                <br>
                02:00
            </p>
        </div>
    </div>
</div>
{% endblock %}