{% extends "user/layout-new.html" %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="logo">
            <img src="{% static 'user/img/logo_bg_transparent.png' %}" alt="logo">
        </div>
        <div class="signin">
            <h3>Forgot Password</h3>
            <form action="{% url 'forgot-password' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Email address" class="is-valid" id="registerEmail" name="usernameForgot">
                <span id="msg" class="msg"></span>
                <button type="submit" class="sign" id="forgot">Submit</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}