{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{% static 'user/styles/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'user/img/favicon.png' %}" type="image/gif" sizes="16x16"> 
    <title>{% block title %}{% endblock %}</title>
</head> 
<body>
    <header>
        <nav>
            <div class="web_nav">
                <div class="row">
                    <div class="left col-lg-3">
                        <a href="{% url 'user' %}" class="logo">BuildUp!</a>
                        <!--<a href="{% url 'user' %}">Why BuildUp!?</a>
                        <a href="{% url 'user' %}">Blog</a>
                        <a href="{% url 'user' %}">Download</a>
                        <a href="{% url 'user' %}">Pricing</a>-->
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="right col-lg-4">
                        <!--<a href="{% url 'user' %}">Help</a>-->
                        {% if login %}
                        <a href="{% url 'user' %}">Hello, {{ user.first_name }}</a>
                        <a href="{% url 'logout' %}"><button class="signup">Logout</button></a>
                        {% else %}
                        <a href="{% url 'registerform' %}"><button class="signin">Join Now</button></a>
                        <a href="{% url 'loginform' %}"><button class="signup">Sign In</button></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </nav>
    </header>
    <section>
        {% block body %}{% endblock %}
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'user/js/script.js' %}" type="text/javascript"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
</html>