{% extends "user/layout.html" %}
{% load static %}

{% block title %}Register{% endblock %}
{% block body %}
<div class="row login-register">
    <div class="col-lg-6 inner-login-register">
        <div class="top">
            <h4>Sign Up</h4>
            <a href="">
                <button>
                <span class="iconify" data-inline="false" data-icon="flat-color-icons:google" style="font-size: 24.88343620300293px;"></span>
                Sign up with Google 
                </button>
            </a>
        </div>
        <form action="{% url 'register' %}" method="POST" id="register">  
            {% csrf_token %}       
            <div class="form-group row">
                <input type="text" class="form-control col-lg-11 {% if message %}is-invalid{% endif %}" id="registerEmail" placeholder="Email" name="email">
                <div class="col-lg-1"></div>
                <span id="msg2">{% if message %}{{ message }}{% endif %}</span> 
            </div>
            <div class="form-group row">
                <input type="password" class="form-control col-lg-11" id="registerPass" placeholder="Password" name="passwordregister">
                <button type="button" class="col-lg-1" onclick="toggle_show('registerPass')">
                    <img src="{% static 'user/img/showpass.png' %}" alt="show-pass" id="registerPassshow">
                    <img src="{% static 'user/img/hidepass.png' %}" alt="hide-pass" id="registerPasshide">
                </button>
            </div>
            <div class="form-group row">
                <input type="password" class="form-control col-lg-11" id="registerPass2" placeholder="Repeat Password" name="repeatpassword">
                <button type="button" class="col-lg-1" onclick="toggle_show('registerPass2')">
                    <img src="{% static 'user/img/showpass.png' %}" alt="show-pass" id="registerPass2show">
                    <img src="{% static 'user/img/hidepass.png' %}" alt="hide-pass" id="registerPass2hide">
                </button>
                <span id="msg"></span>
                <span id="capsWarning"></span>
            </div>
            <div class="form-group row">
                <div class="form-check remember-forgot col-lg-11">
                    <input class="form-check-input" type="checkbox" id="agreePolicy">
                    <label class="form-check-label" for="agreePolicy">Agree Our Terms</label>
                    <a href="{% url 'loginform' %}">Already have account? Sign in</a>
                </div> 
                <div class="col-lg-1"></div>
            </div>
          
            <button type="submit" class="btn btn-primary" id="submit-register">Register</button>
        </form>
    </div>
</div>
{% endblock%}
