{% extends "user/layout-new.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="logo">
            <img src="{% static 'user/img/logo_bg_transparent.png' %}" alt="logo">
        </div>
        <div class="signin">
            <h3>Sign Up</h3>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Email address" class="is-valid" id="registerEmail" name="email">
                <span id="msg" class="msg"></span>
                <input type="password" placeholder="Password" id="registerPass" name="passwordregister">
                <input type="password" placeholder="Repeat Password" id="registerPass2" name="repeatpassword">
                <span id="msg2" class="msg">{% if message %}{{ message }}{% endif %}</span>
                <span id="capsWarning" class="msgBlue"></span>
                <button type="submit" class="sign" id="sign-up">Sign Up</button>
            </form>
            <div style="text-align: center;">or</div>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button class="google-login">
                <span class="iconify" data-inline="false" data-icon="flat-color-icons:google" style="font-size: 24.88343620300293px;"></span>
                <span>Continue with Google</span>
                </button>
            </a>
        </div>
    </div>
</main>
{% endblock %}