{% extends "user/layout-new.html" %}
{% load static %}

{% block title %}Verification{% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="logo">
            <img src="{% static 'user/img/logo_bg_transparent.png' %}" alt="logo">
        </div>
        <div class="signin timer">
            <h3>Sign Up Successful! <br>Please check your e-mail to verify your account</h3>
            <br>
            <p>Didn't get notification?</p>
            <a href="{% url 'verify' method=method username=username %}" onclick="sendverify(event)"><button class="verif-resend">Resend verification</button></a>
            <div id="timer">02:00</div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'user/js/verify.js' %}"></script>
{% endblock %}