{% extends "user/layout-new.html" %}
{% load static %}

{% block title %}Verification{% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="logo">
            <img src="{% static 'user/img/logo_bg_transparent.png' %}" alt="logo">
        </div>
        <div class="signin">
            <h3>Your verification link has expired</h3>
            <a href="{% url 'verify' method=method username=username %}">
                <button class="sign">Resend</button>
            </a>
        </div>
    </div>
</main>

{% endblock %}